a {
    color: #00a65a;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #6acc9a;
}
.form-control:focus {
    border-color: #00a65a !important;
    box-shadow: none !important;
}
.progress-bar-primary {
    background-color: #00a65a !important;
}
.box.box-primary {
    border-top-color: #00a65a !important;
}
.box.box-solid.box-primary {
    border: 1px solid #00a65a !important;
}
.box.box-solid.box-primary > .box-header {
    color: #ffffff !important;
    background: #00a65a !important;
    background-color: #00a65a !important;
}
.todo-list .primary {
    border-left-color: #00a65a !important;
}
.btn-primary {
    background-color: #00a65a !important;
    border-color: #6acc9a !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background-color: #6acc9a !important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    border-top-color: #00a65a !important;
}
.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover {
    background: transparent !important;
    color: #444 !important;
    border-top: 0 !important;
    border-left-color: #00a65a !important;
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #00a65a !important;
}
.nav-tabs-custom.tab-primary > .nav-tabs > li.active {
    border-top-color: #00a65a !important;
}
.direct-chat-primary .right > .direct-chat-text {
    background: #00a65a !important;
    border-color: #00a65a !important;
    color: #ffffff !important;
}
.direct-chat-primary .right > .direct-chat-text:after,
.direct-chat-primary .right > .direct-chat-text:before {
    border-left-color: #00a65a !important;
}
.select2-container--default.select2-container--open {
    border-color: #00a65a !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #00a65a !important;
    color: white !important;
}
.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
    outline: none !important;
    border: 1px solid #00a65a !important;
}
.select2-container--default .select2-selection--multiple:focus {
    border-color: #00a65a !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00a65a !important;
    border-color: #6acc9a !important;
    padding: 1px 10px !important;
    color: #fff !important;
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
    background-color: #00a65a !important;
}
