/vendor/*
/config/app.php
/config/merchants.php
/tmp/*
/logs/*
.idea/*
composer.lock
webroot/bootstrap
webroot/dist
webroot/documentation
webroot/pages
webroot/plugins
webroot/assets
.DS_Store
config/Migrations/schema-dump-default.lock