.fa {
    font-size: 22px !important;
}
.service-col .service-icon i {
    font-size: 100px !important;
}
.fa-left-icon {
    width: 40px !important;
    margin-top: -16px !important;
}

.treeview-menu > li > a {
    font-size: 17px !important;
}

.sidebar-menu > li > a {
    font-size: 19px !important;
}

.sidebar-menu li > a > .pull-right-container > .pull-right {
    margin-right: 0px !important;
}

.sidebar-menu li > a > .pull-right-container {
    margin-top: -16px !important;
}

.non-active {
    color: #b8c7ce !important;
}

.box.box-info {
    border-top-color: #3c8dbc !important;
}

.box {
    border-top-color: #3c8dbc !important;
}

.btn-info {
    background-color: #3c8dbc !important;
    border-color: #3c8dbc !important;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
    background-color: #367fa9 !important;
}

.table-bordered {
    border-color: #3c8dbc !important;
}
