.support-footer {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    line-height: 1;
}

.box-support-footer {
    border: 1px #3c8dbc !important;
}

.jlr-dashbox {
    margin-top: 50px;
}

.jlr-dashbox label {
    font-weight: normal !important;
}

.jlr-flash {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}

.jlr-flash h4 {
    font-size: 40px !important;
}

.jlr-flash h4 i {
    font-size: 40px !important;
}

.jlr-flash span {
    font-size: 20px;
}